In [6]:
import joblib

import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'
df = pd.read_csv(url)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
def feature_engineering(df):
    df = df.rename(columns={
        'sepal.length': 'sepal_length',
        'sepal.width': 'sepal_width',
        'petal.length': 'petal_length',
        'petal.width': 'petal_width'
    })
    
    #add 2 more columns
    df['sepal'] = df.sepal_length + df.sepal_width
    df['petal'] = df.petal_length + df.petal_width
    
    #modify target
    cond_list = [df.variety == 'Setosa']
    cond_choice = [1]
    df['new_variety'] = np.select(cond_list, cond_choice, default=0)
    
    return df

In [8]:
df = feature_engineering(df)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,variety,sepal,petal,new_variety
0,5.1,3.5,1.4,0.2,Setosa,8.6,1.6,1
1,4.9,3.0,1.4,0.2,Setosa,7.9,1.6,1
2,4.7,3.2,1.3,0.2,Setosa,7.9,1.5,1
3,4.6,3.1,1.5,0.2,Setosa,7.7,1.7,1
4,5.0,3.6,1.4,0.2,Setosa,8.6,1.6,1

In [9]:
X = df.loc[:, ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'sepal', 'petal']]
y = df.loc[:, ['new_variety']]
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, 
                                                    test_size = 40)

In [13]:
params = {'C': float(1.0),
          'penalty': 'l2', 
          'max_iter': 100}

log_reg = LogisticRegression(**params).fit(X_train, y_train)

/home/anggi/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
filename = '../saved_models/ver1.sav'
joblib.dump(log_reg, filename)

['../saved_models/ver1.sav']